# dependencias
node_modules/

# build output
.next/
out/

# local env
.env
.env.local
.env.*.local

# Vercel
.vercel/

# Claude / editor
.claude/

# macOS
.DS_Store

# archivos pesados / temporales
*.zip

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
